body{
	font-family: arial;
	border:none;
	padding:0px;
	font-size: 25px;
	background-color:#00005A;
}
.half{
	width: 98%;
	padding: 8px;
	border: 2px solid #CCCCCC;
	border-radius: 4px;
}
#groups{
	background-color: #00002A;
	height:400px;
	overflow: auto;
}
.category{
	padding: 8px;
	border-bottom: 1px solid #CCCCCC;
}
#message{
	background-color: #FFFFFF;
	font-size:25;
	color: #000000;
	height: 400px;
	margin:8px 4px 4px 4px;
	border:2px solid;
	overflow:auto;
}
.controls{
	float:right;
	margin-right:10px;
}
.cat-link{
	font-size: 40px;
	color: #FFFFFF;
	text-decoration: none;
}

.clr-link{
	color:#FFFF00;
	text-decoration:none;
	font-size:40px;
}

.del-link{
	color:#FF2222;
	text-decoration:none;
	font-size:40px;
	margin-left:35px;
}